In [ ]:
import os
import json
import progressbar

In [3]:
import math
import pandas as pd
import numpy as np

In [ ]:
import requests
from pandas import json_normalize
from functools import reduce

In [5]:
CITIES_FILEPATH = '../Dataset/Location/cities.json'
STATES_FILEPATH = '../Dataset/Location/states.json'
COUNTRIES_FILEPATH = '../Dataset/Location/countries.json'
LOCATION_FILEPATH = '../Dataset/Processed/Locations.csv'
USERS_FILEPATH = '../Dataset/BX-CSV-Dump/BX-Users.csv'
USERS_NORMALIZED_FILEPATH = '../Dataset/Processed/BX-Users.csv'
LOC_FUZZY_MAP_FILEPATH = '../Dataset/Processed/mappings.json',
BOOKS_FILEPATH = '../Dataset/BX-CSV-Dump/BX-Books.csv'
BOOKS_PROCESSED_FILEPATH = '../Dataset/Processed/BX-Books-{}.csv'

In [3]:
def sanitizeNumericData(row, as_types):
    for col in as_types:
        row[col] = int(''.join(filter(str.isdigit, row[col]))) if as_types[col] == 'int64' else row[col]
    return row

In [4]:
def loadDataframeFromJSON(filepath, key, rename_columns, as_types={}):
    with open(filepath) as f: 
        d = json.load(f)  
    return json_normalize(d[key]).apply(sanitizeNumericData, args=(as_types, ), axis=1).rename(columns=rename_columns)

In [5]:
if not os.path.exists(LOCATION_FILEPATH):
    cities = loadDataframeFromJSON(CITIES_FILEPATH, 'cities', {'id': 'city_id', 'name': 'city'}, {'id': 'int64', 'state_id': 'int64'})
    states = loadDataframeFromJSON(STATES_FILEPATH, 'states', {'id': 'state_id', 'name': 'state'}, {'id': 'int64','country_id': 'int64'})
    countries = loadDataframeFromJSON(COUNTRIES_FILEPATH, 'countries', {'id': 'country_id', 'sortname': 'country_code', 'phoneCode': 'phone_code', 'name': 'country'})
    locations = cities.merge(states, on='state_id', how="inner").merge(countries, on='country_id', how="inner")
    locations.to_csv(LOCATION_FILEPATH, index=False, index_label=False, columns=['city_id', 'city', 'state_id', 'state', 'country_id', 'country', 'country_code', 'phone_code'])
else:
    locations = pd.read_csv(LOCATION_FILEPATH);

In [6]:
locations['Location'] = locations['city'] + ", " + locations['state'] + ", " + locations['country']

In [7]:
locations.head()

,city_id,city,state_id,state,country_id,country,country_code,phone_code,Location
0,1,Bombuflat,1,Andaman and Nicobar Islands,101,India,IN,91,"Bombuflat, Andaman and Nicobar Islands, India"
1,2,Garacharma,1,Andaman and Nicobar Islands,101,India,IN,91,"Garacharma, Andaman and Nicobar Islands, India"
2,3,Port Blair,1,Andaman and Nicobar Islands,101,India,IN,91,"Port Blair, Andaman and Nicobar Islands, India"
3,4,Rangat,1,Andaman and Nicobar Islands,101,India,IN,91,"Rangat, Andaman and Nicobar Islands, India"
4,5,Addanki,2,Andhra Pradesh,101,India,IN,91,"Addanki, Andhra Pradesh, India"

In [13]:
def loadNormalizedUsers():
    if not os.path.exists(USERS_NORMALIZED_FILEPATH):
        users = pd.read_csv(USERS_FILEPATH, sep=";")
        users_loc = pd.DataFrame([ x.split(', ', 2)[0:3] for x in users['Location'].tolist() ])
        users_loc.columns = ['city', 'state', 'country']
        users_normalized = pd.concat([users, users_loc], axis=1)
        users_normalized['fuzzy_match'] = np.nan
    else:
        users_normalized = pd.read_csv(USERS_NORMALIZED_FILEPATH, dtype={'fuzzy_match': str, "city": str, "state": str})
    return users_normalized

users_normalized = loadNormalizedUsers()
users_normalized.loc[120:140]

In [ ]:
# ! conda install -c conda-forge fuzzywuzzy

In [14]:
from fuzzywuzzy import fuzz, process

In [131]:
def getPotentialMatch(city, state):
    booleans = []
    for row in locations.itertuples():
        if fuzz.WRatio(state, row.state) >= 90:
            booleans.append(True)
        else:
            booleans.append(False)
    return booleans

In [138]:
f = open(LOC_FUZZY_MAP_FILEPATH,)  
mapping = json.load(f)
def fuzzy_match_loc(row):
    index = row.city + "|" + row.state
    if(index not in mapping):
        filters = getPotentialMatch(row.city, row.state);
        potential_matches = locations[filters]
        if potential_matches['Location'].count() > 0:
            row.fuzzy_match = process.extractOne(row.Location, list(potential_matches['Location'].values))[0]
            mapping[index] = row.fuzzy_match
    else:
       row.fuzzy_match  = mapping[index]
    return row

In [137]:
n = 1000
users_normalized = loadNormalizedUsers()
to_process_users= users_normalized[users_normalized['fuzzy_match'].isna()].fillna('')
total_chunk = to_process_users.shape[0] // n
list_df = [to_process_users[i:i+n] for i in range(0,to_process_users.shape[0],n)]
for df in progressbar.progressbar(list_df, redirect_stdout=True):
    updated_df = df.apply(fuzzy_match_loc, axis=1)
    users_normalized.loc[users_normalized['User-ID'].isin(updated_df['User-ID']), ['fuzzy_match']] = updated_df[['fuzzy_match']]
    users_normalized.to_csv(USERS_NORMALIZED_FILEPATH, index=False, index_label=False)
    saveLocMapping()

100% (53 of 53) |#######################| Elapsed Time: 19:16:44 Time: 19:16:44

In [18]:
def saveLocMapping():
    json_content = json.dumps(mapping)
    f = open(LOC_FUZZY_MAP_FILEPATH,"w")
    f.write(json_content)
    f.close()

In [140]:
users_normalized = loadNormalizedUsers()
users_normalized[users_normalized['fuzzy_match'].isna()]

,User-ID,Location,Age,city,state,country,fuzzy_match
17,18,"rio de janeiro, rio de janeiro, brazil",25.0,rio de janeiro,rio de janeiro,brazil,NaN
64,65,"n/a, n/a, australia",NaN,NaN,NaN,australia,NaN
90,91,"toronto/newmarket, ,",NaN,toronto/newmarket,",",NaN,NaN
111,112,"mexico city, d.f., mexico",32.0,mexico city,d.f.,mexico,NaN
155,156,"sarajevo, n/a, bosnia and herzegovina",20.0,sarajevo,NaN,bosnia and herzegovina,NaN
...,...,...,...,...,...,...,...
278607,278608,"west vancouver, british columbia, canada",NaN,west vancouver,british columbia,canada,NaN
278700,278701,"vila das aves, minho, portugal",39.0,vila das aves,minho,portugal,NaN
278711,278712,"cranbrook, british columbia, canada",NaN,cranbrook,british columbia,canada,NaN
278781,278782,"larnaca, n/a, cyprus",NaN,larnaca,NaN,cyprus,NaN
278810,278811,"±±¾©, ±±¾©, china",19.0,±±¾©,±±¾©,china,NaN

In [141]:
users_normalized[users_normalized['fuzzy_match'].notna()]

,User-ID,Location,Age,city,state,country,fuzzy_match
0,1,"nyc, new york, usa",NaN,nyc,new york,usa,"Airmont, New York, United States"
1,2,"stockton, california, usa",18.0,stockton,california,usa,"Stockton, California, United States"
2,3,"moscow, yukon territory, russia",NaN,moscow,yukon territory,russia,"Moscow, Moscow, Russia"
3,4,"porto, v.n.gaia, portugal",17.0,porto,v.n.gaia,portugal,"Porto, Norte, Portugal"
4,5,"farnborough, hants, united kingdom",NaN,farnborough,hants,united kingdom,"Farnborough, England, United Kingdom"
...,...,...,...,...,...,...,...
278853,278854,"portland, oregon, usa",NaN,portland,oregon,usa,"Portland, Connecticut, United States"
278854,278855,"tacoma, washington, united kingdom",50.0,tacoma,washington,united kingdom,"Tacoma, Washington, United States"
278855,278856,"brampton, ontario, canada",NaN,brampton,ontario,canada,"Brampton, Ontario, Canada"
278856,278857,"knoxville, tennessee, usa",NaN,knoxville,tennessee,usa,"Knoxville, Tennessee, United States"
278857,278858,"dublin, n/a, ireland",NaN,dublin,NaN,ireland,"Dublin, Dublin, Ireland"

In [146]:
def finalOptimization(row):
    if pd.isna(row.fuzzy_match):
        row.city = 'UNK'
        row.state = 'UNK'
        row.country = 'UNK'
    else:
        loc = row.fuzzy_match.split(', ', 2)
        row.city = loc[0]
        row.state = loc[1]
        row.country = loc[2]
    return row

In [154]:
cleaned_users = users_normalized.apply(finalOptimization, axis=1).filter(['User-ID', 'Age', 'city', 'state', 'country']).rename(columns={'city': 'City', 'state': 'State', 'country': 'Country'})
cleaned_users

        User-ID   Age         City        State         Country
0             1   NaN      Airmont     New York   United States
1             2  18.0     Stockton   California   United States
2             3   NaN       Moscow       Moscow          Russia
3             4  17.0        Porto        Norte        Portugal
4             5   NaN  Farnborough      England  United Kingdom
...         ...   ...          ...          ...             ...
278853   278854   NaN     Portland  Connecticut   United States
278854   278855  50.0       Tacoma   Washington   United States
278855   278856   NaN     Brampton      Ontario          Canada
278856   278857   NaN    Knoxville    Tennessee   United States
278857   278858   NaN       Dublin       Dublin         Ireland

[278858 rows x 5 columns]

In [165]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='constant')
cleaned_users['Age'] = imp.fit_transform(cleaned_users[['Age']])

In [166]:
cleaned_users

        User-ID   Age         City        State         Country
0             1   0.0      Airmont     New York   United States
1             2  18.0     Stockton   California   United States
2             3   0.0       Moscow       Moscow          Russia
3             4  17.0        Porto        Norte        Portugal
4             5   0.0  Farnborough      England  United Kingdom
...         ...   ...          ...          ...             ...
278853   278854   0.0     Portland  Connecticut   United States
278854   278855  50.0       Tacoma   Washington   United States
278855   278856   0.0     Brampton      Ontario          Canada
278856   278857   0.0    Knoxville    Tennessee   United States
278857   278858   0.0       Dublin       Dublin         Ireland

[278858 rows x 5 columns]

In [168]:
m = cleaned_users.groupby(['Country', 'State']).mean()

In [178]:
m

                            User-ID        Age
Country     State
Afghanistan Jawzjan   106847.222222  27.111111
            Kabul     157527.600000  20.000000
            Lawghar   192226.000000  22.000000
Albania     Korce      85748.000000   0.000000
            Lezhe     111121.250000   8.500000
...                             ...        ...
Zambia      Lusaka    116846.000000  22.750000
Zimbabwe    Bulawayo  190757.000000  10.000000
            Harare    145401.750000  15.625000
            Masvingo   31295.000000  30.000000
            Midlands  135988.947368  27.105263

[1781 rows x 2 columns]

In [196]:
z = {}
for i, a in m.iterrows():
    z[i] = a['Age']

In [217]:
def impMissingAgeWithGroupedAvg(r, z):
    if r.Age == 0:
        r.Age = round(z[(r.Country, r.State)])
    return r

In [218]:
final_users= cleaned_users.apply(impMissingAgeWithGroupedAvg, args=(z, ), axis=1)
final_users

        User-ID   Age         City        State         Country
0             1  20.0      Airmont     New York   United States
1             2  18.0     Stockton   California   United States
2             3  21.0       Moscow       Moscow          Russia
3             4  17.0        Porto        Norte        Portugal
4             5  23.0  Farnborough      England  United Kingdom
...         ...   ...          ...          ...             ...
278853   278854  19.0     Portland  Connecticut   United States
278854   278855  50.0       Tacoma   Washington   United States
278855   278856  20.0     Brampton      Ontario          Canada
278856   278857  21.0    Knoxville    Tennessee   United States
278857   278858  16.0       Dublin       Dublin         Ireland

[278858 rows x 5 columns]

In [219]:
dir = '../Dataset/Final'
if not os.path.exists(dir):
    os.makedirs(dir)

In [220]:
final_users.to_csv(dir + "/BX-Users.csv", index=False, index_label=False)

In [221]:
pd.read_csv(dir + "/BX-Users.csv")

        User-ID   Age         City        State         Country
0             1  20.0      Airmont     New York   United States
1             2  18.0     Stockton   California   United States
2             3  21.0       Moscow       Moscow          Russia
3             4  17.0        Porto        Norte        Portugal
4             5  23.0  Farnborough      England  United Kingdom
...         ...   ...          ...          ...             ...
278853   278854  19.0     Portland  Connecticut   United States
278854   278855  50.0       Tacoma   Washington   United States
278855   278856  20.0     Brampton      Ontario          Canada
278856   278857  21.0    Knoxville    Tennessee   United States
278857   278858  16.0       Dublin       Dublin         Ireland

[278858 rows x 5 columns]

In [230]:
books['Year-Of-Publication'].sort_values().unique()

array([   0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908,
       1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924,
       1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935,
       1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946,
       1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957,
       1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968,
       1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
       1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021,
       2024, 2026, 2030, 2037, 2038, 2050], dtype=int64)

In [290]:
filtered_books = books[(books['Year-Of-Publication'] > 2020) | (books['Year-Of-Publication'] < 1800)]
filtered_books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,g_year-of-publication,g_categories,g_avg_rating,g_total_rating,g_processed
176,3150000335,Kabale Und Liebe,Schiller,0,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...,NaN,NaN,NaN,NaN,0
188,342311360X,Die Liebe in Den Zelten,Gabriel Garcia Marquez,0,Deutscher Taschenbuch Verlag (DTV),http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...,NaN,NaN,NaN,NaN,0
288,0571197639,Poisonwood Bible Edition Uk,Barbara Kingsolver,0,Faber Faber Inc,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...,NaN,NaN,NaN,NaN,0
351,3596214629,"Herr Der Fliegen (Fiction, Poetry and Drama)",Golding,0,Fischer Taschenbuch Verlag GmbH,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...,NaN,NaN,NaN,NaN,0
542,8845229041,Biblioteca Universale Rizzoli: Sulla Sponda De...,P Coelho,0,Fabbri - RCS Libri,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...,NaN,NaN,NaN,NaN,0

In [243]:
import requests
url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:{}'.format('0571197639')
x = requests.get(url)
x

In [246]:
res = json.loads(x.text)

In [250]:
res

{'kind': 'books#volumes',
 'totalItems': 1,
 'items': [{'kind': 'books#volume',
   'id': 'phzFAQAACAAJ',
   'etag': 'Mh/Qv8pdMDw',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/phzFAQAACAAJ',
   'volumeInfo': {'title': 'The Poisonwood Bible',
    'subtitle': 'A Novel',
    'authors': ['Barbara Kingsolver'],
    'publishedDate': '1998',
    'description': 'Congo, Democratic Republic - history 1960.',
    'industryIdentifiers': [{'type': 'ISBN_10', 'identifier': '0571197639'},
     {'type': 'ISBN_13', 'identifier': '9780571197637'}],
    'readingModes': {'text': False, 'image': False},
    'pageCount': 546,
    'printType': 'BOOK',
    'categories': ['Americans'],
    'averageRating': 4.0,
    'ratingsCount': 271,
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': 'preview-1.0.0',
    'panelizationSummary': {'containsEpubBubbles': False,
     'containsImageBubbles': False},
    'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=phzFAQAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api',
     'thumbnail': 'http://books.google.com/books/content?id=phzFAQAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=phzFAQAACAAJ&dq=isbn:0571197639&hl=&cd=1&source=gbs_api',
    'infoLink': 'http://books.google.co.in/books?id=phzFAQAACAAJ&dq=isbn:0571197639&hl=&source=gbs_api',
    'canonicalVolumeLink': 'https://books.google.com/books/about/The_Poisonwood_Bible.html?hl=&id=phzFAQAACAAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'NOT_FOR_SALE',
    'isEbook': False},
   'accessInfo': {'country': 'IN',
    'viewability': 'NO_PAGES',
    'embeddable': False,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': False},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=phzFAQAACAAJ&hl=&printsec=frontcover&source=gbs_api',
    'accessViewStatus': 'NONE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'The Poisonwood Bible is a story told by the wife and four daughters of Nathan Price, a fierce, evangelical Baptist who takes his family and mission to the Belgian Congo in 1959.'}}]}

In [249]:
res['totalItems']

1

In [24]:
def fetchBookCategories(b):
    url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:{}'.format(b.ISBN)
    x = requests.get(url)
    res = json.loads(x.text)
    try:
        if(res['totalItems'] > 0):
            i = res['items'][0]
            if 'publishedDate' in i['volumeInfo']:
                b['g_year-of-publication'] = str(i['volumeInfo']['publishedDate']).split("-", 2)[0]
            if 'categories' in i['volumeInfo']:
                b['g_categories'] = "|".join(i['volumeInfo']['categories'])
        b['g_processed'] = 1
        return b
    except:
        return b

In [25]:
def loadProcessedBooks():
    if not os.path.exists(BOOKS_PROCESSED_FILEPATH):
        raw_books = pd.read_csv(BOOKS_FILEPATH, sep=';', encoding='latin')
        raw_books['g_year-of-publication'] = 0
        raw_books['g_categories'] = 0
        raw_books['g_processed'] = 0
        raw_books.to_csv(BOOKS_PROCESSED_FILEPATH, index=False, index_label=False)
    return pd.read_csv(BOOKS_PROCESSED_FILEPATH, dtype={'g_year-of-publication': 'str', 'g_categories': 'str', 'g_processed': 'int64'});

In [27]:
n = 1000
stop_limit = 2
chunk = 0
books = loadProcessedBooks()
to_process_books= books[books['g_processed'] == 0]
total_chunk = to_process_books.shape[0] // n
list_df = [to_process_books[i:i+n] for i in range(0,to_process_books.shape[0],n)]
for df in progressbar.progressbar(list_df, redirect_stdout=True):
    books.loc[books['ISBN'].isin(df['ISBN']), ['g_processed']] = -1
    updated_df = df.apply(fetchBookCategories, axis=1)
    books.loc[books['ISBN'].isin(updated_df['ISBN']), ['g_year-of-publication', 'g_categories', 'g_processed']] = updated_df[['g_year-of-publication', 'g_categories', 'g_processed']]
    books.to_csv(BOOKS_PROCESSED_FILEPATH, index=False, index_label=False)
    chunk = chunk + 1

100% (21 of 21) |########################| Elapsed Time: 4:50:57 Time:  4:50:57

### Block to reset failed process

In [16]:
books = loadProcessedBooks()
books['g_processed'] = books['g_processed'].apply(lambda x: 0 if x == -1 else x)
books.to_csv(BOOKS_PROCESSED_FILEPATH, index=False, index_label=False)

### Divide Books file into 3 smaller files

In [21]:
books = loadProcessedBooks()
n = books.shape[0] // 3
list_df = [books[i:i+n] for i in range(0,to_process_books.shape[0],n)]
for i,df in enumerate(list_df, start=1):
    df.to_csv('../Dataset/Processed/BX-Books-{}.csv'.format(i), index=False, index_label=False)

In [6]:
list_df = []
for i in range(1,5):
    list_df.append(pd.read_csv(BOOKS_PROCESSED_FILEPATH.format(i)))

In [10]:
final_books = pd.concat(list_df, axis=0)

In [30]:
final_books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,g_year-of-publication,g_categories,g_processed
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2003,Social Science,1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,2001,Actresses,1
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,1983,1940-1949,1
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,1999,Medical,1
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,1999,Design,1
...,...,...,...,...,...,...,...,...,...,...,...
90456,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,1988,Adolescence,1
90457,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,1991,Juvenile Nonfiction,1
90458,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,2004,History,1
0,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,0,0,1
1,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,0,0,1

In [12]:
final_books.to_csv('../Dataset/Final/BX-Books.csv', index=False, index_label=False)

In [26]:
frame = {'Categories': final_books['g_categories'].unique()} 
unique_categories = pd.DataFrame(frame)

In [29]:
unique_categories

                                             Categories
0                                        Social Science
1                                             Actresses
2                                             1940-1949
3                                               Medical
4                                                Design
...                                                 ...
8095  Allemagne - Politique et gouvernement - 1933-1945
8096                     Faschismus - Massenpsychologie
8097                                  Signal processing
8098                          Communication in politics
8099                                                  0

[8100 rows x 1 columns]